<!-- Start test-cafe Navigation -->
<div class="fables-navigation fables-main-background-color py-3 py-lg-0">
  <div class="container">
             <div class="row">
                 <div class="col-12 col-md-10 col-lg-9 pr-md-0">                       
                     <nav class="navbar navbar-expand-md py-lg-0">       
                          <a class="navbar-brand pl-0 text-white display-4" href="index.html"><img src="../../../assets/images/logo.png" /> <strong class="text-danger"></strong></a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fablesNavDropdown" aria-controls="fablesNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="fables-iconmenu-icon text-white font-16"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="fablesNavDropdown">
                              <ul class="navbar-nav mx-auto fables-nav">   
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">
                                          Home
                                      </a>
                                  </li>
                                  <li class="nav-item ">
                                      <a class="nav-link" href="#">
                                          About
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">
                                          Contact Us
                                      </a>
                                  </li>  
                              </ul> 

                  </div>
              </nav>
                 </div>
                 <div class="col-12 col-md-2 col-lg-3 pr-md-0 icons-header-mobile">
                     
                  <div class="fables-header-icons">
                       <a href="#" class="open-search fables-third-text-color right  top-header-link px-3 px-md-2 px-lg-4 fables-second-hover-color border-0 max-line-height">
                          <span class="fables-iconsearch-icon"></span>
                      </a> 
                      <a routerLink="/signup" class="fables-third-text-color fables-second-hover-color font-13 top-header-link px-3 px-md-2 px-lg-4 max-line-height"><i class="fa fa-user-plus"></i></a>
                       <a routerLink="/signin" class="fables-third-text-color fables-second-hover-color font-13 top-header-link px-3 px-md-2 px-lg-4 max-line-height"><i class="fa fa-lock"></i></a>                      
                  </div>
                 </div>
             </div>
  </div>
</div> 
<!-- /End test-cafe Navigation --> 