<!-- Start page content -->   
<div class="container">
  <div class="row my-4 my-lg-5">
       <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
            <img src="./assets/images/test-cafe-brown.png" alt="signin" class="img-fluid">
            <p class="font-20 semi-font fables-main-text-color mt-2 mb-lg-4">Sign In</p>
            <form>
               <div class="form-group"> 
                   <div class="input-icon">
                       <span class="fables-iconemail fables-input-icon font-14"></span>
                       <input type="email" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input"  placeholder="Email"> 
                   </div>
                 
               </div>
               <div class="form-group"> 
                   <div class="input-icon">
                      <span class="fables-iconpassword fables-input-icon font-18"></span>
                      <input type="password" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Password">
                   </div>
                 
               </div> 
               <button type="submit" class="btn btn-block rounded-0 white-color fables-main-hover-background-color fables-second-background-color font-16 semi-font py-3">Sign in</button>
               <a href="#" class="fables-forth-text-color font-16 fables-second-hover-color underline mt-2 mb-2 m-lg-3 d-block">Forgot Password ?</a>
               <p class="fables-forth-text-color">Dont have an account ?  <a href="register.html" class="font-16 semi-font fables-second-text-color underline fables-main-hover-color ml-2">Register</a></p>
             </form>
       </div>
  </div>
</div>   
<!-- /End page content -->
